@import 'tailwindcss';
@plugin '@tailwindcss/typography';
@config '../../typography.ts';
@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --text-3xs: 0.6875rem;
  --text-3xs--line-height: 1rem;
  --text-2xs: 0.75rem;
  --text-2xs--line-height: 1.25rem;
  --text-xs: 0.8125rem;
  --text-xs--line-height: 1.5rem;
  --text-sm: 0.875rem;
  --text-sm--line-height: 1.5rem;
  --text-base: 1rem;
  --text-base--line-height: 1.75rem;
  --text-lg: 1.125rem;
  --text-lg--line-height: 1.75rem;
  --text-xl: 1.25rem;
  --text-xl--line-height: 1.75rem;
  --text-2xl: 1.5rem;
  --text-2xl--line-height: 2rem;
  --text-3xl: 1.875rem;
  --text-3xl--line-height: 2.25rem;
  --text-4xl: 2.25rem;
  --text-4xl--line-height: 2.5rem;
  --text-5xl: 3rem;
  --text-5xl--line-height: 1;
  --text-6xl: 3.75rem;
  --text-6xl--line-height: 1;
  --text-7xl: 4.5rem;
  --text-7xl--line-height: 1;
  --text-8xl: 6rem;
  --text-8xl--line-height: 1;
  --text-9xl: 8rem;
  --text-9xl--line-height: 1;

  --shadow-glow: 0 0 4px rgb(0 0 0 / 0.1);

  --container-lg: 33rem;
  --container-2xl: 40rem;
  --container-3xl: 50rem;
  --container-5xl: 66rem;
}

@layer base {
  :root {
    --shiki-color-text: var(--color-white);
    --shiki-token-constant: var(--color-indigo-300);
    --shiki-token-string: var(--color-indigo-300);
    --shiki-token-comment: var(--color-zinc-500);
    --shiki-token-keyword: var(--color-sky-300);
    --shiki-token-parameter: var(--color-pink-300);
    --shiki-token-function: var(--color-indigo-300);
    --shiki-token-string-expression: var(--color-indigo-300);
    --shiki-token-punctuation: var(--color-zinc-200);
  }

  [inert] ::-webkit-scrollbar {
    display: none;
  }

  .prose :where(code):not(:where([class~="not-prose"], [class~="not-prose"] *)) {
    font-size: 0.75rem !important;
    box-shadow: none !important;
    color: var(--color-zinc-600) !important;
  }

  .dark .prose :where(code):not(:where([class~="not-prose"], [class~="not-prose"] *)) {
    color: var(--color-zinc-400) !important;
  }

  .prose :where(img):not(:where([class~="not-prose"], [class~="not-prose"] *)) {
    border-radius: 0.75rem;
    border: 1px solid var(--color-zinc-200);
  }

  .dark .prose :where(img):not(:where([class~="not-prose"], [class~="not-prose"] *)) {
    border-color: var(--color-zinc-700);
  }
}
